.background {
  background-image: url("../assets/spice-pasta.jpg");
  height: 110vh;
}

.reg {
  padding-top: 6rem;
  color: white;
  padding-left: 20%;
  width: 100%;
  max-width: 800px;
}

.para {
  margin-top: 14px;
}

.link__to {
  color: var(--pinky);
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 900px) {
  .reg {
    margin: 0 auto;
    padding-top: 10rem;
    padding-left: 0%;
    width: 70%;
  }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 450px) {
  .reg {
    width: 90%;
    padding-top: 6rem;
  }
}
