*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100px;
  background-color: var(--light-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.logo {
  color: black;
  font-size: 26px;
  font-weight: 900;
}

.lis {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
  text-transform: uppercase;
}

.link__to_top {
  display: none;
}

.mobile__btn {
  display: none;
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 450px) {
  .header {
    flex-direction: column;
    padding: 0 0%;
  }

  .mobile__section {
    margin-top: 30px;
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .mobile__btn {
    display: flex;
    background-color: var(--light-purple);
    font-size: 1.6rem;
    border: none;
  }

  nav {
    background-color: var(--light-purple);
    width: 100%;
    padding: 0px;
    z-index: 1;
    margin-top: 20px;
  }

  .lis {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 20px;
    border-top: 2px solid var(--deep-purple);
  }

  .lis li {
    border-bottom: 2px solid var(--deep-purple);
    padding: 10px;
  }

  .lis li:last-child {
    border-bottom: none;
  }

  .display {
    display: none;
  }

  .link__to_top_li {
    background-color: var(--deep-purple);
  }

  .link__to_top {
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--deep-purple);
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    background-color: var(--pinky);
  }
}
